.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  .mat-form-field{
    font-size:  14 px;
    width: 100%;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .card {
    width: 80%;
    max-width: 80%;
    margin-top: 2%;
}