mat-form-field{
    font-size:  16 px;
    width: 100%;
}
.chPass{
    border: 10px;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}