<div class="container" style="overflow-x:auto; margin-top: 5px; font-size: 12px;">
    <div class="chPass">
        <form [formGroup]="this.form">
            <h2 mat-dialog-title>Change Password</h2>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>New password</mat-label>
                <input type="password" formControlName="password" matInput>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="form.hasError('required', 'password')">
                    Please enter your new password
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm password</mat-label>
                <input type="password" formControlName="cPassword" matInput>
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="form.hasError('notSame')">
                    Passwords do not match
                </mat-error>  
            </mat-form-field>

            <button mat-button color="primary" (click)="change()">Continue</button>

        </form>

    </div>
</div>