<header class="masthead">
  <img style="height: auto; width: 100%; max-height: 800px; max-width: 1500px;" src="assets/images/back.jpg">

  <mat-divider></mat-divider>

  <div class="wrapper">
    <h1 class="h1"> What we do !</h1>
  </div>
  <mat-divider></mat-divider>


  <div class="container">
    <div class="row">
      <div class="col-md">
        <h3 class="text-responsive">EXTERIOR DETAILING</h3>
        <img class="img-responsive" src="assets/home-img/istockphoto-1060499948-612x612.jpg" alt="">
        <ul class="details">
          <li><span>Exterior lac correction / polish&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>
      <div class="col-md">
        <h3 class="text-responsive">INTERIOR DETAILING</h3>
        <img class="img-responsive" src="assets/home-img/istockphoto-1181581304-612x612.jpg" alt="">
        <ul class="details">
          <li><span>Interior cleaning and leather protection&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h3 class="text-responsive">HEADLIGHTS DETAILING</h3>
        <img class="img-responsive" src="assets/home-img/faruri.jpg" alt="">
        <ul class="details">
          <li><span>Restoring / polish headlights and apply protection&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>
      <div class="col-md">
        <h3 class="text-responsive">CERAMIC PROTECTION</h3>
        <img class="img-responsive" src="assets/home-img/istockphoto-1300888522-612x612.jpg" alt="">
        <ul class="details">
          <li><span>We apply a ceramic coating at your car&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <h3 class="text-responsive">ENGINE CLEANING</h3>
        <img class="img-responsive"
          src="assets/home-img/depositphotos_103264048-stock-photo-car-detailing-series-cleaning-car.jpg" alt="">
        <ul class="details">
          <li><span>Engine cleaning, no water preasure&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>

      <div class="col-md">
        <h3 class="text-responsive">WHEELS DETAILING</h3>
        <img class="img-responsive" src="assets/home-img/car-wheels-detailing.jpg" alt="">
        <ul class="details">
          <li><span>Car wheels detailing and proiection&nbsp;</span></li>
        </ul>
        <mat-divider></mat-divider>
        <br><br>
      </div>
    </div>
  </div>

  <span class="text-responsive" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"
  >Users rating&nbsp;
</span>

  <mat-divider></mat-divider>

  <!-- <mat-card class="card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      
    </mat-card-content>
  </mat-card> -->


  <div class="container">
    <div class="row">
      <div *ngFor="let review of Reviews" class="col-sm">
        <mat-card>
          <img [src]="Image.get(review.userId)" class="avatar" alt="Avatar"/>
          <mat-card-header>
            <mat-card-title>{{Name.get(review.userId)}}</mat-card-title>
            <div class="stars">
              <mat-icon [title]="review.grade + '/10'" *ngFor="let item of createRange(review.grade )" >grade</mat-icon></div>
          </mat-card-header>
          <mat-card-content>
            <div style="display: flex; justify-content: center;" >
              <p>{{ review.review }}</p>
              
            </div>
            <div style="margin-top: 30px;">
              <ng-image-slider [id]="review.id"  [imageSize]="{width: 350, space: 1}" 
              [autoSlide]="{interval: 3, stopOnHover: true}" [infinite]="true" [images]="imageObject.get(review.appointmentId)!" [showArrow]="false"
              (imageClick)="triggeron()" (lightboxClose)="triggeroff()" ></ng-image-slider>
            </div>
          </mat-card-content>
          
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <button mat-button color="primary" (click)="back()">Go back</button>
    <button mat-button color="primary" (click)="next()">View next</button>
  </div>
</header>

  