.masthead {
    display: table;
    width: 100%;
    height: 35rem;
    text-align: center;
    color: #fff;
    background-size: cover;
  }

  .img-responsive {
    width: 100%;
    height: auto;
    border: 10px solid transparent;
    border-color: #786f62;
  }
  .text-responsive{
    font-family: "Unica One", Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0px;
    font-style: normal;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: #786f62;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #9f968a;
  }
  .details{
    color: rgb(132, 140, 146); 
    --darkreader-inline-color:#9f968a; 
    font-size: 14px; 
    display: flex; 
    justify-content: center;
    margin-top: 12px;
  }
  .text-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    text-align: center;
    font-size: 60px;

  }
  .h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans";
    background: linear-gradient(to right,#b10404 10%, #fcfcfc 50%, #686968 60%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    text-align: center;
    font-size: 45px;
  }
  .card {
    background-color: whitesmoke;
    max-width: 250px;
    height: 300px;
    margin: 10px;
  }
mat-card{
  box-shadow: none;
}
  

.card:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

mat-card-content {
  height: 300px;
  text-align: justify;
  overflow-y: auto;
}

.avatar {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

mat-card-title {
  margin-bottom: 5px;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon {
  color: #fad201;
  width: 10px;
  height: 10px;
  margin: 5px;
  padding: 5px;
  margin-left: 8px;
  margin-bottom: 15px;
}
.stars{
    margin-right: 25px;
}


  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  