<!-- <h2 mat-dialog-title>Forgot password</h2>
<div mat-dialog-content>
    <mat-dialog-content>
        test
        test
    </mat-dialog-content>
<form [formGroup]="this.form">

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input formControlName="username" matInput type="text" id="login" class="fadeIn second"  placeholder="username">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <mat-form-field *ngIf="boolSwitch" appearance="outline">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password" id="password" class="fadeIn third"  placeholder="password">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

</form>  
</div>
<mat-dialog-actions align="end">
  <button mat-button color="primary" *ngIf="boolSwitch" (click)="submit()">Login</button>
  <button mat-button mat-dialog-close *ngIf="!boolSwitch" color="primary"(click)="sendEmail()">Check</button>
</mat-dialog-actions>  -->

<div mat-dialog-content style="overflow-x: hidden;">
    <h2 mat-dialog-title>Forgot your password?</h2>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <p>Login to your account in three easy steps. After you login you have to change you password!</p>
                <div class="forgot">
                    <ol class="list-unstyled">
                        <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                        <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary code
                        </li>
                        <li><span class="text-primary text-medium">3. </span>Use that code to login to your account</li>
                    </ol>
                </div>
                <br>
                <form [formGroup]="this.form" style="font-size: 14px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your email address</mat-label>
                        <input formControlName="email" matInput type="text" id="login" class="fadeIn second"
                            placeholder="yourEmail@test.com">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                    <mat-form-field *ngIf="boolSwitch" appearance="outline">
                        <mat-label>Enter the given code</mat-label>
                        <input formControlName="code" matInput type="text" id="code" class="fadeIn third"
                            placeholder="code">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>
<mat-dialog-actions align="center">
    <button mat-button color="warn" *ngIf="boolSwitch" mat-dialog-close>Canel</button>
    <button mat-button color="primary" *ngIf="!boolSwitch" (click)="sendEmail()">Send Email</button>
    <button mat-button color="primary" mat-dialog-close *ngIf="!boolSwitch" (click)="backlogin()">Back to login</button>
    <button mat-button color="primary" *ngIf="boolSwitch" (click)="submit()">Login</button>
</mat-dialog-actions>