<mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
        <strong>
            <a (click)="onSelect()" routerLink="/">
                <img style="height: 230px; margin-bottom: 10px;" src="assets/images/log2.png">
            </a>
        </strong>
        <span style="flex: 1 1 auto"></span>
        <mat-slide-toggle (click)="toggleDarkMode()" style="font-size: 16px; color: white;" [(ngModel)]="isDarkMode">
            {{SlideText}}
        </mat-slide-toggle>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div *ngIf="IsLoggedIn">
            <img class="avatar mat-elevation-z8" [src]="this.ImagePath" />
            <h4 class="name">{{Name}}</h4>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="IsLoggedIn">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/profile">
                        <mat-icon>person_pin</mat-icon>
                        <span class="button-text">Profile</span>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/mycommands">
                        <mat-icon>list</mat-icon>
                        <span class="name" class="button-text">My Appointments</span>
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/myreviews">
                        <mat-icon>rate_review</mat-icon>
                        <span class="button-text">My Reviews</span>
                    </button>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
        </div>
        <div *ngIf="IsLoggedIn && IsAdmin">
            <mat-list role="list1">
                <mat-list-item role="list1item">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/users">
                        <mat-icon>people</mat-icon>
                        <span class="button-text">Users</span>
                    </button>
                </mat-list-item>
                <mat-list-item role="list1item">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/reviews">
                        <mat-icon>rate_review</mat-icon>
                        <span class="button-text">Reviews</span>
                    </button>
                </mat-list-item>
                <mat-list-item role="list1item">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/commands">
                        <mat-icon>list</mat-icon>
                        <span class="button-text">Appointments</span>
                    </button>
                </mat-list-item>
                <mat-list-item role="list1item">
                    <button mat-button class="button-color" (click)="onSelect()" routerLink="/pictures">
                        <mat-icon>photo</mat-icon>
                        <span class="button-text">Pictures</span>
                    </button>
                </mat-list-item>
            </mat-list>
            <mat-divider></mat-divider>
        </div>
        <mat-list>
            <mat-list-item *ngIf="!IsLoggedIn">
                <button mat-button class="button-color" (click)="LogIn()">
                    <mat-icon>person</mat-icon>
                    <span class="button-text">Login</span>
                </button>
            </mat-list-item>
            <mat-list-item *ngIf="!IsLoggedIn">
                <button mat-button class="button-color" (click)="Register()">
                    <mat-icon>add</mat-icon>
                    <span class="button-text">Register</span>
                </button>
            </mat-list-item>
            <mat-list-item *ngIf="IsLoggedIn">
                <button mat-button class="button-color" (click)="Logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span class="button-text">Logout</span>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content (click)="tirggerSlider()">
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4 item">
                <h3>Contact</h3>
                <ul>
                    <li>
                        <mat-icon>place</mat-icon>
                        <a>Location: <a href="https://www.google.com/maps/place/Universitatea+din+Pite%C8%99ti/@44.8545974,24.8796918,17z/data=!3m1!4b1!4m5!3m4!1s0x40b2bc8915874d9f:0xa15ee97594a6ea9c!8m2!3d44.8545936!4d24.8818804">View</a> </a>
                    </li>
                    <li>
                        <mat-icon>phone</mat-icon>
                        <a>Phone: 03734 3418</a>
                    </li>
                    <li>
                        <mat-icon>email</mat-icon>
                        <a>Email: cardetailinggarage@outlook.com</a>
                    </li>

                </ul>
            </div>
            <div class="col item">
                <h3>Services</h3>
                <ul>
                    <li><a>Exterior Detailing</a></li>
                    <li><a>Interior Detailing</a></li>
                    <li><a>Headlights Detailing</a></li>
                    <li><a>Ceramic Protection</a></li>
                    <li><a>Custom Detailing</a></li>

                </ul>
            </div>
            <div class="col item">
                <h3>Products</h3>
                <ul>
                    <li><a
                            href="https://www.detailing.com/store/rupes-d-a-fine-high-performance-polishing-compound-1000-ml.html?SID=c003b7de6c9ac1244b5c6136ec7150b5">Rupes
                            D-A FINE </a></li>
                    <li><a
                            href="https://www.detailing.com/store/meguiars-ultra-cut-compound-32oz.html?SID=c003b7de6c9ac1244b5c6136ec7150b5">Meguiar's
                            Ultra </a></li>
                    <li><a
                            href="https://www.detailing.com/store/rupes-d-a-coarse-high-performance-coarse-cutting-foam-pad-blue-180mm-6-inch-backing.html?SID=c003b7de6c9ac1244b5c6136ec7150b5">Rupes
                            D-A COARSE </a></li>
                    <li><a
                            href="https://www.detailing.com/store/waffle-weave-400-microfiber-drying-towel-black-w-red-silk-edges-25-x-36.html?SID=c003b7de6c9ac1244b5c6136ec7150b5">Waffle
                            Weave Microfiber </a></li>

                </ul>
            </div>

            <div class="col-md-4 text">
                <h3>Car Detailing Garage</h3>
                <p>Detailing Garage is a premier car detailing and paint protection company with an ultimate goal to be the best in the business across the nation.</p>
            </div>

        </div>
        <div class="col item social" style="font-size: 30px;">
            <a href="#">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="#">
                <i class="bi bi-twitter">
                </i>
            </a>
            <a href="#"><i class="bi bi-instagram">
                </i>
            </a>
        </div>
        <p class="copyright">Car Detailing Garage © 2022</p>
    </div>
</footer>