mat-toolbar {
  position: sticky;
}

mat-toolbar-row{
  background-color: #282d32;
  height: 90px;
}
mat-sidenav {
  margin: 16px;
  border-right: none;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  overflow-x:auto;
  width: inherit;

}
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}
.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}
.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-dark .item.social > a:hover {
  opacity: 0.9;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}
.footer-dark .item.social {
  margin-top: 10px;
  text-align: center;
}
.footer-dark .item.social > a {
  margin-right: 20px;
  margin-left: 20px;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}








.content {
  height: 100%;
  min-height: calc(100vh - 65px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  
}

mat-sidenav-container {
  height: inherit;
  min-height: calc(100vh - 65px);

}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

}


  .button-text {
    padding-left: 10px;
}
.avatar {
  margin-top: 16px;
  width: 110px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
  font-size: 18px;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}