<div *ngIf="true" class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img [src]="this.ImagePath" class="header-image">
            </div>
            <div>
                <mat-card-title>{{profileObject.name}}</mat-card-title>
                <mat-card-subtitle>{{profileObject.email}}</mat-card-subtitle>
            </div>
            <div>
                <button mat-button [title]="'add picutre' | uppercase " (click)="fileInput.click()">
                    <mat-icon>add_a_photo</mat-icon>
                    <input #fileInput type="file" (change)="addPicture($event)" style="display:none;" />
                </button>
            </div>

        </mat-card-header>
        <mat-card-content>

            <div class="container" style="width: 800px;">
                <div class="row">
                    <div class="col">
                        <p class="">
                            <span class="field-name">Username:</span>
                            <span class="field-value"> {{profileObject.userName}}</span>
                        </p>
                        <p class="">
                            <span class="field-name">Role:</span>
                            <span class="field-value">{{getRole()}}</span>
                        </p>
                        <p class="">
                            <span class="field-name">Gender:</span>
                            <span class="field-value">{{profileObject.gender | titlecase}}</span>
                        </p>
                        <p class="mrg-btm-none">
                            <span class="field-name">Phone:</span>
                            <span class="field-value">{{profileObject.phone}}</span>
                        </p>
                    </div>
                    <div class="col">
                            <p>                            
                                This is <strong>My Profile</strong>
                                <mat-icon>home</mat-icon>
                            </p>
                            <p>
                               Here you can edit your profile and set your next appointment for your <strong>car</strong>
                               <mat-icon>car</mat-icon>
                            </p>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="col">
                    <div mat-button class="panel-footer">
                        <button mat-button [title]="'make appointment' | uppercase" (click)="makeAppointment()">
                            <mat-icon>add_box</mat-icon>
                            Make Appointment
                        </button>
                        <button mat-button [title]="'edit profile' | uppercase" (click)="editProfile()">
                            <mat-icon>edit</mat-icon>
                            Edit profile
                        </button>
                    </div>
                </div>
            
            </div>
            

        </mat-card-content>
    </mat-card>

</div>